{% extends 'research/base_person_table.html' %}
{% load research_tags %}
{% block title %}Лица в наравлении{% endblock %}

{% block table_header %}
   <th scope="col">№</th>
   <th scope="col">Фамилия</th>
   <th scope="col">Имя</th>
   <th scope="col">Отчество</th>
   <th scope="col">Пол</th>
   <th scope="col">Дата рождения</th>
   <th scope="col">Место рождения</th>
   {% if person.related %}
      <td scope="col">Степень родства</td>
   {% endif %}
      <th scope="col">Действия</th>
{% endblock table_header %}
{% block table_body %}
   {% if persons %}
      {% for person in persons %}
         <tr>
            <th class="text-center" scope="row">
               {{ forloop.counter }}
            </th>
            <td>{{ person.surname }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.patronymic }}</td>
            <td>{% if person.male %}Мужской{% else %}Женский{% endif %}</td>
            <td>{{ person.birthday|date:"d.m.Y" }}</td>
            <td>{{ person.birthplace }}</td>
            {% if person.related %}
               <td>{{ person.related }}</td>
            {% endif %}
            <td>
               <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <a href="#" class="btn btn-primary">Редактировать</a>
                  <a href="#" class="btn btn-danger">Удалить</a>
               </div>
            </td>
         </tr>
      {% endfor %}
   {% endif %}
{% endblock table_body %}