{% extends 'research/base_person_card.html' %}

{% block person_card_body %}
<form action="{{ path }}" method="post">
   {% csrf_token %}
   <div class="mb-3 p-2">
      {{ form.surname }}
      {{ form.name }}
      {{ form.patronymic }}
      {{ form.male }}
      {{ form.birthday }}
      {{ form.birthplace }}
      {{ form.relation }}
      <div>
         <button type="submit" class="btn btn-primary mt-2">Добавить</button>
         <a href="{% url 'register' %}" class="btn btn-primary mt-2">Отмена</a>
         <button type="reset" class="btn btn-primary mt-2">Очистить</button>
      </div>
   </div>
</form>
{% endblock person_card_body %}