{% extends 'research/base.html' %}

{% block content %}
<div class="container-xxl mt-4">
   <form action="{% url 'research_form' %}" {% block method %}method="post"{% endblock %}>
      {% csrf_token %}
      <div class="row row-cols-1 row-cols-md-2 my-4">
         <div class="col">
            <div class="card h-100">
               <div class="card-header">
                  <h5 class="card-title text-primary">Инициатор</h5>
               </div>
               <div class="mb-3 p-2">
                  {{ form.initiator_post.errors }}
                  {{ form.initiator_post}}
                  {{ form.initiator_department.errors }}
                  {{ form.initiator_department}}
                  {{ form.initiator_rank}}
                  <div class="input-group">
                     {{ form.initiator_surname}}
                     {{ form.initiator_name}}
                     {{ form.initiator_patronymic}}
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card h-100">
               <div class="card-header">
                  <h5 class="card-title text-primary">Исполнитель</h5>
               </div>
               <div class="mb-3 p-2">
                  {{ form.executor_post.errors }}
                  {{ form.executor_post}}
                  {{ form.executor_department.errors }}
                  {{ form.executor_department}}
                  {{ form.executor_rank}}
                  <div class="input-group">
                     {{ form.executor_surname}}
                     {{ form.executor_name}}
                     {{ form.executor_patronymic}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">
                  <h5 class="card-title text-primary">Информация о событии</h5>
               </div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-12 col-md-6">
                        {{ form.event_number }}
                        {{ form.formation_date }}
                        {{ form.article }}
                        {{ form.incident_date }}
                        {{ form.address }}
                        <div class="form-check form-switch">
                           <label class="form-check-label" for="flexSwitchCheckDefault">Родственный поиск</label>
                           {{ form.relative_search }}
                        </div>
                     </div>
                     <div class="col-12 col-md-6">
                        {{ form.plot }}
                        <div>
                           <button type="submit" class="btn btn-primary mt-2">Добавить</button>
                           <button type="cancel" class="btn btn-primary mt-2">Отмена</button>
                           <button type="clear" class="btn btn-primary mt-2">Очистить</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
{% endblock %}